In [3]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading https://files.pythonhosted.org/packages/a7/7d/682c4a7da195a678047c8f1c51bb7682aaedee1dca7547883c3993ca9282/PyMySQL-0.9.2-py2.py3-none-any.whl (47kB)
    100% |████████████████████████████████| 51kB 682kB/s ta 0:00:011
Requirement already satisfied: cryptography in /opt/conda/lib/python3.6/site-packages (from PyMySQL)
Requirement already satisfied: idna>=2.1 in /opt/conda/lib/python3.6/site-packages (from cryptography->PyMySQL)
Requirement already satisfied: asn1crypto>=0.21.0 in /opt/conda/lib/python3.6/site-packages (from cryptography->PyMySQL)
Requirement already satisfied: six>=1.4.1 in /opt/conda/lib/python3.6/site-packages (from cryptography->PyMySQL)
Requirement already satisfied: cffi>=1.7 in /opt/conda/lib/python3.6/site-packages (from cryptography->PyMySQL)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.6/site-packages (from cffi>=1.7->cryptography->PyMySQL)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.9.2
You are using pip version 9.0.3, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [41]:
import pymysql

db = pymysql.connect("mysql-1","root","iii","mysql" )

cursor = db.cursor()

cursor.execute("CREATE DATABASE MYDB")


cursor.execute('CREATE TABLE MYDB.products (name char(50) ,price INT ) ')

0

In [42]:
#如果上面錯誤執行此處
#cursor.execute("DROP DATABASE MYDB")
#cursor.execute( "DROP TABLE MYDB.products")

In [44]:
cursor.execute("INSERT INTO MYDB.products VALUES ( 'book', 990)" )
cursor.execute("INSERT INTO MYDB.products VALUES ('pan' , 890)" )

1

In [45]:
cursor.execute("UPDATE MYDB.products SET price = 900 WHERE name = 'book'")

1

In [49]:
cursor.execute("SELECT * FROM MYDB.products")
print( cursor.fetchall() )

(('book', 900), ('pan', 890))